body {
    background: #1D1B26;
}
.sliding-button {
    width: 200px;
    background: #1D1B26;
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid;
    border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    border-image-slice: 1;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.sliding-button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: white;
    background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.sliding-button:hover {
    background: rgba(255, 255, 255, 0);
}
.sliding-button:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}
.commonPanel
{
    display: flex;
    width: 1310px;/*фиксируем ширину обертки*/
    margin: 0 auto;/*центрируем ее*/
}
.commandPanel
{
    border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    border-image-slice: 1;
    width: 150px;
    height: 400px;
}
.drawPanel
{
    position: relative;
    margin-left: 200px;
    width: 1000px;	height: 500px; /* Размеры */
    outline: 2px solid darkgray; /* Чёрная рамка */
    border-radius: 10px; /* Радиус скругления */
}
.top
{
    align-items: center;
    display: flex;
    width: 1520px;/*фиксируем ширину обертки*/
    height: 45px;
    background: darkgray;
}


a {
    float: none;
    padding: 12px 16px;
    display: block;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-top: 1px;
    margin-right: 300px;
    margin-left: 140px;
    width: 150px;
    height:15px;
    color: #E7E5DD;
    border-radius: 30px;
}
a:hover {
    color: #BDB9AB;
    background: #E7E5DD;
}
a span {
    opacity: 0;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
a:hover span {
    opacity: 1;
    padding-left: 10px;
    padding-right: 10px;
    color: #BDB9AB;
}